<!-- <main class="main-wrap">
    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Product</h2>
                </div>

            </div>
            <div>
                <% if (addProductSuccess) { %>
                    <p class="alert alert-success mt-3 text-center" style="width: 75%;"><%=addProductSuccess%></p>
                  <% }  %>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Product Name</label>
                                <input type="text" placeholder="Type here" class="form-control" id="product_name"
                                    name="name" required="">
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Full description</label>
                                <textarea placeholder="Type here" class="form-control" rows="4" name="description"
                                    required=""></textarea>
                            </div>
                            <div class="row"> -->
                                <!-- <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Brand</label>
                                        <div class="row gx-2">
                                            <input placeholder="Brand" type="text" class="form-control" name="brand"
                                                required="">
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Color</label>
                                        <input placeholder="Color" type="text" class="form-control" name="color"
                                            required="">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label class="form-label">Size</label>
                                    <select class="form-select" name="size" required="">
                                        <option> /n </option>
                                        <option> 128 GB</option>
                                        <option> 256 GB</option>
                                        <option> 512 GB</option>
                                        <option> 1 TB </option> -->
                                        <!-- <option> XL </option>
                                        <option> XXL </option> -->
                                    <!-- </select>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Price</label>
                                <input type="number" placeholder="Rs." class="form-control" id="product_name"
                                    name="price" required="">
                            </div>

                            <div class="mb-4">
                                <label class="form-label">Stock</label>
                                <input type="number" placeholder="Total" class="form-control" id="product_name"
                                    name="totalQty" required="">
                            </div>

                            <div class="card-header">
                                <h4>Category</h4>
                            </div>
                            <div class="card-body">
                                <div class="row gx-1">
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">Main Category</label>
                                        <select id="main-category" class="form-select" name="category" required="">
                                            <option> Select</option>

                                            <% for (let i = 0; i < category.length; i++) { %>
                                                <option> <%=category[i].name %> </option>
                                            <% } %> -->

                                            <!-- <option> Men's Clothing </option>
                                            <option> Women's Clothing </option>
                                            <option> Kid's Clothing </option> -->
                                        <!-- </select>
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">Sub-category</label>
                                        <select id="sub-category" class="form-select" name="subCategory" required="">
                                            <!-- Subcategories will be loaded dynamically -->
                                            <!-- <option> Select</option>

                                            <% for (let i = 0; i < category.length; i++) { %>
                                                <% for (let j = 0; j < category[i].subCategory.length; j++) { %>
                                                    <option><%=category[i].subCategory[j]%></option>
                                                <% } %>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="card-header">
                                        <h4>Media</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-upload">
                                            <img src="" alt="" id="imgView">
                                            <input class="form-control" type="file" value="upload" name="images"
                                                onchange="viewImage(event)" required="" multiple>
                                        </div>
                                    </div>
                                </div> <!-- row.// -->
                            <!-- </div>
                            <div>
                                <button type="submit" class="btn btn-md rounded font-sm hover-up">Submit</button>
                            </div>

                        </form>
                    </div>
                </div> <!-- card end// -->
            <!-- </div>
        </div>

    </section> --> 

    
    <!-- <script>
        // Set the value of the hidden input field to the current image URL
        document.addEventListener('DOMContentLoaded', function() {
            const currentImageUrl = document.getElementById('current_image_url').value;
            document.getElementById('imgView').src = currentImageUrl;
        });
    
        function viewImage(event) {
            document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0]);
        }
    </script> -->

   

 

    <main class="main-wrap">
        <section class="content-main">
          <div class="container">
            <div class="row">
              <div class="col-md-8 mx-auto">
                <div class="card">
                  <div class="card-header bg-primary">
                    <h2 class="content-title text-center">Add New Product</h2>
                  </div>
                  <div class="card-body">
                    <% if (addProductSuccess) { %>
                      <p class="alert alert-success mt-3 text-center" onload="productAdded()"><%=addProductSuccess%></p>
                    <% } %>
      
                    <form action="" method="post" enctype="multipart/form-data">
                      <div class="mb-3">
                        <label for="product_name" class="form-label">Product Name</label>
                        <input type="text" placeholder="Type here" class="form-control" id="product_name" name="name" required="">
                      </div>
      
                      <div class="mb-3">
                        <label class="form-label">Full Description</label>
                        <textarea placeholder="Type here" class="form-control" rows="4" name="description" required=""></textarea>
                      </div>
      
                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <label class="form-label">Color</label>
                          <input placeholder="Color" type="text" class="form-control" name="color" required="">
                        </div>

                        <div class="col-md-6 mb-3">
                          <label class="form-label">Size</label>
                          <select class="form-select" name="size" >
                            <option value="">N/A</option>
                            <option value="128 GB">128 GB</option>
                            <option value="256 GB">256 GB</option>
                            <option value="512 GB">512 GB</option>
                            <option value="1 TB">1 TB</option>
                          </select>
                        </div>

                      </div>
      
                      <div class="mb-3">
                        <label class="form-label">Price</label>
                        <input type="number" placeholder="Rs." class="form-control" id="product_price" name="price" min="0" required="">
                      </div>
      
                      <div class="mb-3">
                        <label class="form-label">Stock</label>
                        <input type="number" placeholder="Total" class="form-control" id="product_stock" min="0" name="totalQty" required="">
                      </div>
      
                      <div class="mb-3">
                        <label class="form-label">Category</label>
                        <select id="main-category" class="form-select" name="category" required="">
                          <option value="">Select Category</option>
                          <% for (let i = 0; i < category.length; i++) { %>
                            <option value="<%=category[i].name %>"><%=category[i].name %></option>
                          <% } %>
                        </select>
                      </div>
      
                      <div class="mb-3">
                        <label class="form-label">Sub-category</label>
                        <select id="sub-category" class="form-select" name="subCategory" required="">
                          <option value="">Select Sub-category</option>
                          <% for (let i = 0; i < category.length; i++) { %>
                            <% for (let j = 0; j < category[i].subCategory.length; j++) { %>
                                <option><%=category[i].subCategory[j]%></option>
                            <% } %>
                        <% } %>
                        </select>
                      </div>
                      <!-- <div class="mb-3">
                        <label class="form-label">Media</label>
                        <div class="input-upload"> -->
                          <!-- Image previews will be shown here -->
                          <!-- <div id="image-preview"></div>
                          <button id="crop-button" style="display: none;">crop</button>
                          <input id="fileInput" class="form-control" type="file" name="images" onchange="initImageCropper(event)" required multiple>
                        </div>
                      </div> -->




                      <div class="col-lg-6">
                        <div class="card mb-4">
                          <div class="card-header">
                            <h4>Media</h4>
                          </div>
                          <div class="input-upload">
                            <img src="/imgs/theme/upload.svg" id="imgView1" alt="">
                            <input class="form-control" id="input1" name="images" onchange="viewImage1(event),viewImage(event, 1)" type="file">
                          </div>
                          <div class="image-cropper" style="display:none;">
                            <img src="" id="croppedImg1" alt="">
                            <button type="button" id="saveButton1" class="btn-sm btn-primary">Save</button>
                          </div>
              
                        </div> <!-- card end// -->
                      </div>
                      <div class="col-lg-6">
                        <div class="card mb-4">
                          <div class="card-header">
                            <h4>Media</h4>
                          </div>
                          <div class="input-upload">
                            <img src="/imgs/theme/upload.svg" id="imgView2" alt="">
                            <input class="form-control" id="input2" name="images" onchange="viewImage2(event),viewImage(event, 2)" type="file">
                          </div>
                          <div class="image-cropper" style="display:none;">
                            <img src="" id="croppedImg2" alt="">
                            <button type="button" id="saveButton2" class="btn-sm btn-primary">Save</button>
                          </div>
              
                        </div> <!-- card end// -->
                      </div>
                      <div class="col-lg-6">
                        <div class="card mb-4">
                          <div class="card-header">
                            <h4>Media</h4>
                          </div>
                          <div class="input-upload">
                            <img src="/imgs/theme/upload.svg" id="imgView3" alt="">
                            <input class="form-control" id="input3" name="images" onchange="viewImage3(event),viewImage(event, 3)" type="file">
                          </div>
                          <div class="image-cropper" style="display:none;">
                            <img src="" id="croppedImg3" alt="">
                            <button type="button" id="saveButton3" class="btn-sm btn-primary">Save</button>
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="card mb-4">
                        <div class="card-header">
                          <h4>Media</h4>
                        </div>
                        <div class="input-upload">
                          <img src="/imgs/theme/upload.svg" id="imgView4" alt="">
                          <input class="form-control" id="input4" name="images" onchange="viewImage4(event),viewImage(event, 4)" type="file">
                        </div>
                        <div class="image-cropper" style="display:none;">
                          <img src="" id="croppedImg4" alt="">
                          <button type="button" id="saveButton4" class="btn-sm btn-primary">Save</button>
                        </div>
            
                      </div>
                  </div>
                      <button type="submit" class="btn btn-primary bg-success">Submit</button>
                    </form>
                  </div>
                </div> <!-- card end// -->
              </div>
            </div>
          </div>
        </section>




      

        
<!--     
 <script>
         function viewImages(event) {
  const imagePreviewsContainer = document.getElementById('image-previews');
  
  const files = event.target.files;
  for (let i = 0; i < files.length; i++) {
    const imgContainer = document.createElement('div'); // Create a container for each image
    imgContainer.className = 'img-container';
    imgContainer.style.display='inline-block'
    imgContainer.style.marginRight='10px'
    
    const img = document.createElement('img');
    img.src = URL.createObjectURL(files[i]);
    img.className = 'img-thumbnail';
    img.style.width = '100px'; // Set a fixed width for image previews (adjust as needed)
    
    imgContainer.appendChild(img);
    imagePreviewsContainer.appendChild(imgContainer);
  }
}

 </script> -->



 <!-- <script>
 function initCropper(event) {
   const input = event.target;
   const previewsContainer = document.getElementById('image-previews');
 
   // Clear previous previews
   previewsContainer.innerHTML = '';
 
   // Loop through selected files and create previews
   for (const file of input.files) {
     const preview = document.createElement('div');
     preview.classList.add('image-preview');
 
     const image = new Image();
     image.src = URL.createObjectURL(file);
     preview.appendChild(image);
 
     previewsContainer.appendChild(preview); // Append the preview container
 
     // Initialize Cropper.js
     const cropper = new Cropper(image, {
       aspectRatio: 16 / 9, // Set your desired aspect ratio here
       viewMode: 0, // You can adjust this according to your needs
       ready() {
         // This function is called when the cropper is ready
       },
       crop(event) {
         // This function is called when the cropping area changes
       }
     });
   }
 }
 </script> -->
 


  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script> -->

  <script>

  function viewImage1(event) {
    document.getElementById('imgView1').src = URL.createObjectURL(event.target.files[0])
  }
  
  function viewImage2(event) {
    document.getElementById('imgView2').src = URL.createObjectURL(event.target.files[0])
  }
  
  function viewImage3(event) {
    document.getElementById('imgView3').src = URL.createObjectURL(event.target.files[0])
  }
  function viewImage4(event) {
    document.getElementById('imgView4').src = URL.createObjectURL(event.target.files[0])
  }
    </script>
    <script>
    function viewImage(event, index) {
        let input = event.target;
        let reader = new FileReader();
    
        reader.onload = function() {
          let dataURL = reader.result;
          let image = document.getElementById('imgView' + index);
          image.src = dataURL;
    
          // Initialize Cropper.js on the image
          let cropper = new Cropper(image, {  
            aspectRatio: 1 / 1, // Set the aspect ratio to 1:1 for square images
            viewMode: 1, // Set the view mode to crop box
            guides: true, // Show the crop guides
            background: false, // Do not show the background behind the image
            autoCropArea: 1, // Set the initial crop area to cover the whole image
            zoomable: true // Disable zooming to keep the image size fixed
          });
    
          // Show the image cropper container
          let cropperContainer = document.querySelector('#croppedImg' + index).parentNode;
          cropperContainer.style.display = 'block';
    
          // Update the cropped image when the "Save" button is clicked
          let saveButton = document.querySelector('#saveButton' + index);
          saveButton.addEventListener('click', async function() {
            let croppedCanvas = cropper.getCroppedCanvas({
              width: 471, 
              height: 550 
            });
            let croppedImage = document.getElementById("croppedImg" + index);
            croppedImage.src = croppedCanvas.toDataURL('image/jpeg', 1.0);
    
            // Generate a unique name for the cropped image file based on the current timestamp
            let timestamp = new Date().getTime();
            let fileName = `cropped-img-${timestamp}-${index}.png`;
    
            await croppedCanvas.toBlob(blob => {
              let input = document.getElementById('input' + index)
              let imgFile = new File([blob], fileName, blob)
              const fileList = new DataTransfer();
              fileList.items.add(imgFile);
              input.files = fileList.files
            });
            // cropperContainer.style.display = 'none';
          });
    
        };
    
        reader.readAsDataURL(input.files[0]);
      }
</script>


  <script>
    function productAdeed(){
      
    Swal.fire({
  position: 'top-end',
  icon: 'success',
  title: '<%=addProductSuccess%>',
  showConfirmButton: false,
  timer: 1500
})
    }
  </script>

<!-- Find_SubCategories -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      const mainCategorySelect = document.getElementById('main-category');
  
      mainCategorySelect.addEventListener('change', function() {
          const selectedCategory = mainCategorySelect.value;
        console.log(selectedCategory)

        $.ajax({
          url:'/admin/findSubCategories', // Replace with your server endpoint
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify({ selectedCategory:selectedCategory}),
          success: function (response) {
            const subcategoriesData = response.subcategoriesData
           updateSubcategories(subcategoriesData)
          },
          error: function (error) {
            console.error('Error:', error);
            // Handle error cases here
          }
        });

          // Perform your AJAX request here using the selectedCategory value
          // Once the AJAX request completes, update the sub-category dropdown
          // Example:
          // fetchSubcategories(selectedCategory);
      });
  });

  function updateSubcategories(subcategories) {
    const subCategorySelect = document.getElementById('sub-category');
    subCategorySelect.innerHTML = '<option value="">Select Sub-category</option>';
    
    // Loop through the subcategories and add them as options
    for (let i = 0; i < subcategories.length; i++) {
        const option = document.createElement('option');
        option.textContent = subcategories[i];
        subCategorySelect.appendChild(option);
    }
}
  </script>


  
          
      