<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span></span> <%=product.category%>
                <span></span> <%=product.subCategory%>
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="product-detail accordion-detail">
                        <div class="row mb-50">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-gallery">
                                    <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                    <!-- MAIN SLIDES -->
                                    <div class="product-image-slider bg-white">
                                        <figure class="border-radius-10">
                                            <img src="productImages/<%=product.images[3]%>" alt="product image">
                                        </figure>
                                        <figure class="border-radius-10">
                                            <img src="productImages/<%=product.images[2]%>" alt="product image">
                                        </figure>
                                        <figure class="border-radius-10">
                                            <img src="productImages/<%=product.images[1]%>" alt="product image">
                                        </figure>
                                        <figure class="border-radius-10">
                                            <img src="productImages/<%=product.images[0]%>" alt="product image">
                                        </figure>
                                        <!-- <figure class="border-radius-10">
                                            <img src="productImages/<%=product.images[3]%>" alt="product image">
                                        </figure>
                                        <figure class="border-radius-10">
                                            <img src="productImages/<%=product.images[3]%>" alt="product image">
                                        </figure>
                                        <figure class="border-radius-10">
                                            <img src="productImages/<%=product.images[3]%>" alt="product image">
                                        </figure> -->
                                    </div>
                                    <!-- THUMBNAILS -->
                                    <div class="slider-nav-thumbnails pl-15 pr-15">


                                        <div><img style="width: auto;height: 120px;" src="productImages/<%=product.images[3]%>" alt="product image"></div>
                                        <div><img style="width: auto;height: 120px;" src="productImages/<%=product.images[2]%>" alt="product image"></div>
                                        <div><img style="width: auto;height: 120px;" src="productImages/<%=product.images[1]%>" alt="product image"></div>
                                        <div><img style="width: auto;height: 120px;" src="productImages/<%=product.images[0]%>" alt="product image"></div>


                                        <!-- <div><img src="assets/imgs/shop/thumbnail-3.jpg" alt="product image"></div> 
                                         <div><img src="assets/imgs/shop/thumbnail-4.jpg" alt="product image"></div>
                                        <div><img src="assets/imgs/shop/thumbnail-5.jpg" alt="product image"></div>
                                        <div><img src="assets/imgs/shop/thumbnail-6.jpg" alt="product image"></div> -->
                                        <!-- <div><img src="assets/imgs/shop/thumbnail-7.jpg" alt="product image"></div>
                                        <div><img src="assets/imgs/shop/thumbnail-8.jpg" alt="product image"></div>
                                        <div><img src="assets/imgs/shop/thumbnail-9.jpg" alt="product image"></div> -->
                                    </div>
                                </div>
                                <!-- End Gallery -->
                                <div class="social-icons single-share">
                                    <ul class="text-grey-5 d-inline-block">
                                        <li><strong class="mr-10">Share this:</strong></li>
                                        <li class="social-facebook"><a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                        <li class="social-twitter"> <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                        <li class="social-instagram"><a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a></li>
                                        <li class="social-linkedin"><a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-info">
                                    <h2 class="title-detail"><%=product.name%></h2>
                                    <div class="product-detail-rating">
                                        <div class="pro-details-brand">
                                            <span> Brand: <a href="shop-grid-right.html"><%=product.subCategory%></a></span>
                                        </div>
                                        <!-- <div class="product-rate-cover text-end">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width:90%">
                                                </div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                        </div> -->
                                    </div>
                                    <div class="clearfix product-price-cover">
                                        <div class="product-price primary-color float-left">
                                            <ins><span class="text-brand">&#8377; <%=product.price%></span></ins>
                                            <ins><span class="old-price font-md ml-15">&#8377;<%=Math.floor(1.25 * product.price) %></span></ins>
                                            <span class="save-price  font-md color3 ml-15">25% Off</span>
                                        </div>
                                    </div>
                                    <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                    <div class="short-desc mb-30">
                                        <p><%=product.description%></p>
                                    </div>
                                    <div class="product_sort_info font-xs mb-30">
                                        <ul>
                                            <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year <%=product.subCategory%> Brand Warranty</li>
                                            <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li>
                                            <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                        </ul>
                                    </div>
                                    <% if(product.category!== 'cameras') { %>
                                        <span id="colorErrorMessage" class="text-danger hidden">Please select a color !</span>
                                    <div class="attr-detail attr-color mb-15">
                                        <strong class="mr-10">Color</strong>
                                        <ul id="selectedColor" class="list-filter color-filter">
                                            
                                            <li class="<%=   colorData.includes('white') ? 'available' : 'unavailable' %>"><a href="#" data-color="white"><span class="<%= colorData.includes('white') ? 'product-color-white' : '' %>">
                                                
                                            </span></a></li>
                                            <li class="<%=  colorData.includes('orange') ? 'available' : 'unavailable' %>"><a href="#" data-color="orange"><span class="<%= colorData.includes('orange') ? 'product-color-orange' : '' %>">
                                                <% if (!colorData.includes('orange')) { %>
                                                    <i class="fa-solid fa-circle-xmark fa-shake fa-2xl" style="color: orange;position:relative;top: -8px;"></i>
                                                <% } %>
                                            </span></a></li>
                                            <li class="<%=   colorData.includes('black') ? 'available' : 'unavailable' %>"><a href="#" data-color="black"><span class="<%= colorData.includes('black') ? 'product-color-black' : '' %>">
                                                <% if (!colorData.includes('black')) { %>
                                                    <i class="fa-solid fa-circle-xmark fa-shake fa-2xl" style="color: black;position:relative;top: -8px;"></i>
                                                <% } %>
                                            </span></a></li>
                                            <li class="<%=   colorData.includes('green') ? 'available' : 'unavailable' %>"><a href="#" data-color="green"><span class="<%= colorData.includes('green') ? 'product-color-green' : '' %>">
                                                <% if (!colorData.includes('green')) { %>
                                                    <i class="fa-solid fa-circle-xmark fa-shake fa-2xl" style="color: #014608;position:relative;top: -8px;"></i>
                                                <% } %>
                                            </span></a></li>
                                            <li class="<%=    colorData.includes('silver') ? 'available' : 'unavailable' %>"><a href="#" data-color="silver"><span class="<%= colorData.includes('silver') ? 'product-color-silver' : '' %>">
                                                <% if (!colorData.includes('silver')) { %>
                                                    <i class="fa-solid fa-circle-xmark fa-shake fa-2xl" style="color: #c0c0c0;position:relative;top: -8px;"></i>
                                                <% } %>
                                            </span></a></li>
                                            
                                        </ul>
                                    </div>
                                    <% } %>
                                    <% if(product.category === 'smartphone' || product.category === 'Laptops') { %>
                                        <span id="sizeErrorMessage" class="text-danger hidden">Please select a size !</span>
                                    <div class="attr-detail attr-size">
                                        <strong class="mr-10">Size</strong>
                                        <ul id="selectedSizes" class="list-filter size-filter font-small">
                                            <!-- <li><a href="#">128 GB</a></li>
                                            <li class="active"><a href="#">256 GB</a></li>
                                            <li><a href="#">512 GB</a></li>
                                            <li><a href="#">1 TB</a></li> -->


                                                <% const availableSizes=['128 GB','256 GB','512 GB','1 TB']; %>
                                            <% availableSizes.forEach(size => { %>
                                                <li class="<%= size === product.size ? 'active' : (sizeData.includes(size) ? '' : 'empty') %>">
                                                  <a href="#" data-size="<%=size%>" ><%= size %></a>
                                                </li>
                                              <% }); %>
                                            <!-- <li><a href="#">XXL</a></li> -->
                                        </ul>
                                        
                                    </div>
                                  
                                        <% } %>

                                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                    <div class="detail-extralink">
                                        <div class="detail-qty border radius">
                                            <a  class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                            <span class="qty-val">1</span>
                                            <a  class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                        </div>
                                        
                                        <div class="product-extra-link2">

                                            <% if (product.totalQty) { %>
                                            
                                            <button type="submit" class="button button-add-to-cart"onclick="redirectToCart()">Add to cart</button>

                                            <% } else { %>

                                                <button type="submit" class="button button-add-to-cart" style="background-color: black;"><i class="fa-solid fa-battery-empty" style="color: #ffffff;"></i> Out of stock</button>

                                                <% } %>

                                                         
                                            <% if (wishlist && wishlist.products.includes(product._id)) { %>
                                                <!-- Render this button if the product is already in the wishlist -->
                                                <a aria-label="Add To Wishlist" id="wishlistButton_<%= product._id %>" style="background-color: #088178; border: 1px solid transparent;color: white;" onclick="addToWishlist('<%=product._id%>')" ><i class="fi-rs-heart"></i></a>
                                                <% } else { %>
                                                <!-- Render this button if the product is not in the wishlist -->
                                                <a aria-label="Add To Wishlist" id="wishlistButton_<%= product._id %>" class="action-btn hover-up" onclick="addToWishlist('<%=product._id%>')"><i class="fi-rs-heart"></i></a>
                                                <% } %>
                                            


                                            <!-- <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> -->
                                            
                                        </div>
                                        <br>
                                        <% if(product.totalQty < 8  && product.totalQty ) { %>
                                            <span>Only <%=product.totalQty%> left</span>
                                            <% } %>
                                    </div>
                                    <!-- <ul class="product-meta font-xs color-grey mt-50">
                                        <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                        <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#" rel="tag">Women</a>, <a href="#" rel="tag">Dress</a> </li>
                                        <li>Availability:<span class="in-stock text-success ml-5">8 Items In Stock</span></li>
                                    </ul> -->
                                </div>
                                <!-- Detail Info -->
                            </div>
                        </div>
                       
    </section> 
</main>



<script>



    function redirectToCart() {

        const colorOptions = document.querySelectorAll('#selectedColor li');
        const sizeOptions = document.querySelectorAll('#selectedSizes li');
  let selectedColor;
  let selectedSize;

  colorOptions.forEach(colorOption => {
        if (colorOption.classList.contains('active')) {
          selectedColor = colorOption.querySelector('a').getAttribute('data-color');
        }
      });
  sizeOptions.forEach(sizeOption => {
        if (sizeOption.classList.contains('active')) {
          selectedSize = sizeOption.querySelector('a').getAttribute('data-size');
        }
      });
        
        
  // Get the quantity value from the DOM element
  const quantityElement = document.querySelector('.qty-val');
  const quantityValue = parseInt(quantityElement.innerText);

  console.log(quantityValue); // Output: 1 (or the current value in the .qty-val element)

  // Your other code here...
  
  if(!selectedColor && '<%=product.category%>'!== 'cameras'){
    const colorErrorMessage= document.getElementById('colorErrorMessage');
    colorErrorMessage.classList.remove('hidden');
  }else if(!selectedSize && ('<%=product.category%>'=== 'smartphone' || '<%=product.category%>'=== 'Laptops')){
    const sizeErrorMessage= document.getElementById('sizeErrorMessage');
    sizeErrorMessage.classList.remove('hidden');
  }else{
    window.location.href = `/user-add-to-cart?productId=<%=product._id%>&quantity=${quantityValue}&color=${selectedColor}&size=${selectedSize}`;
  }
  
      // Replace 'your_link_here' with the actual URL you want the button to lead to

    }
  </script>

  
 <script>
    const qtyDownButton = document.querySelector('.qty-down');
    const qtyUpButton = document.querySelector('.qty-up');
    const qtyValue = document.querySelector('.qty-val');
    const totalQty = parseInt('<%= product.totalQty %>');
  
    let quantity = parseInt(qtyValue.textContent);
  
    qtyUpButton.addEventListener('click', () => {

        if (quantity < totalQty) {
      quantity++;

      if (quantity === totalQty) {
        qtyUpButton.style.pointerEvents = 'none';
      qtyUpButton.style.opacity = '0.5'; 
         }

      if (quantity > 1) {
        qtyDownButton.style=''
      }
    }
    if(quantity===10){
        qtyUpButton.style.pointerEvents = 'none';
      qtyUpButton.style.opacity = '0.5'; 
        Toastify({
          text: `We're sorry! Only 10 unit(s) allowed in each order`,
          duration: 3000,
          backgroundColor: "#FF9999",
          gravity: "bottom", // Display the toast at the top of the screen
          position: "center", // Center the toast horizontally
          stopOnFocus: true,
        }).showToast();
    }
  });

  qtyDownButton.addEventListener('click', () => {
    if (quantity > 1) {
      quantity--;
      qtyUpButton.style=''
    }

    if (quantity === 1) {
        qtyDownButton.style.pointerEvents = 'none';
      qtyDownButton.style.opacity = '0.5';    }
    });
  </script> 

<style>
    
    .empty {
      opacity: 0.5;
      pointer-events: none;
    }

    /* Style for available colors */
.available a {
  opacity: 1;
  pointer-events: auto;
}

/* Style for unavailable colors */
.unavailable a {
  /* opacity: 0.5; You can adjust the opacity value */
  pointer-events: none;
  
}


  </style>


<!-- Color_Check -->
<script>
    

    $(document).ready(function () {
      $('.color-filter a').on('click', function (event) {
        event.preventDefault();
        
        var selectedColor = $(this).data('color');
        console.log(selectedColor)


        if(selectedColor !== '<%=product.color%>' && ('<%=product.category%>'=== 'headphones' || '<%=product.category%>'=== 'Watches')){
            console.log('hehe__dahm it ')

            $.ajax({
          url:'/getSelectedProduct', // Replace with your server endpoint
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify({ selectedColor: selectedColor, productName:'<%=product.name%>',category:'<%=product.category%>', subCategory:'<%=product.subCategory%>'}),
          success: function (response) {
           const productId= response.productId
            console.log(productId)
            console.log('success')
            window.location.href=`/productDetails?id=${productId}`
          },
          error: function (error) {
            console.error('Error:', error);
            // Handle error cases here
          }
        });

        }else{
            var sizeItems = document.querySelectorAll('#selectedSizes li');
            sizeItems.forEach(function (sizeItem) {
      sizeItem.classList.remove('active');
    });

      // Perform an AJAX request using jQuery
      $.ajax({
          url:'/stock-check', // Replace with your server endpoint
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify({ selectedColor: selectedColor, productId:'<%=product._id%>' }),
          success: function (response) {
            const sizes= response.sizes
            // You can update UI or perform other actions here
            var sizeList = document.getElementById('selectedSizes'); // Assuming 'selectedSizes' is the ID of the <ul> element

            var sizeItems = sizeList.querySelectorAll('li');

            sizeItems.forEach(sizeItem => {
          var sizeLink = sizeItem.querySelector('a');
          var size = sizeLink.getAttribute('data-size');
          

          if (sizes.includes(size)) {
            sizeItem.classList.remove('empty');
          } else {
            sizeItem.classList.add('empty');
          }
        });
        // console.log('success')
          },
          error: function (error) {
            console.error('Error:', error);
            // Handle error cases here
          }
        });


        }

        
        // console.log(selectedColor)

      
      });
    });
  </script>



<!-- stock-check -->
    <script>

    $(document).ready(function () {
      $('.size-filter a').on('click', function (event) {
        event.preventDefault();
        
        var selectedSize = $(this).data('size');
        var colorItem = $('.color-filter li.active');
var selectedColor = colorItem.find('a').data('color');
       
        console.log(selectedColor)
        console.log(selectedSize)
        if(selectedSize && selectedColor){
            if(selectedSize !== '<%=product.size%>' || selectedColor !== '<%=product.color%>'){
                   // Perform an AJAX request using jQuery
        $.ajax({
          url:'/getSelectedProduct', // Replace with your server endpoint
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify({ selectedColor: selectedColor, productName:'<%=product.name%>', selectedSize:selectedSize ,category:'<%=product.category%>', subCategory:'<%=product.subCategory%>'}),
          success: function (response) {
           const productId= response.productId
            console.log(productId)
            console.log('success')
            window.location.href=`/productDetails?id=${productId}`
          },
          error: function (error) {
            console.error('Error:', error);
            // Handle error cases here
          }
        });
            }
        }

     
      });
    });
  </script>
  