<main class="main">
  <% if (cart && cart.length > 0) { %>

  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="index.html" rel="nofollow">Home</a>
        <span></span> Shop <span></span> Your Cart
      </div>
    </div>
  </div>
  <section class="mt-50 mb-50">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table shopping-summery text-center clean">
              <thead>
                <tr class="main-heading">
                  <th scope="col">Image</th>
                  <th scope="col">Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Subtotal</th>
                  <th scope="col">Remove</th>
                </tr>
              </thead>
              <tbody>
                <% for(let i = 0 ; i< cart.length ; i++) { %>

                <tr>
                  <td class="image product-thumbnail">
                    <img
                      src="productImages/<%=cart[i].item.images[3]%>"
                      alt="#"
                      style="width: 75px; height: 75px"
                    />
                  </td>
                  <td class="product-des product-name">
                    <h5 class="product-name">
                      <a href="/productDetails?id=<%=cart[i].item._id%>"
                        ><%=cart[i].item.name%></a
                      >
                    </h5>
                    <!-- <p class="font-xs text-center  text-truncate" style=" width: 100px;overflow: hidden;white-space: nowrap; text-overflow: ellipsis;"><%=cart[i].item.description%></p> -->
                  </td>
                  <!-- <td id="price<%=cart[i].item._id%>" data-title="Price"> <span><%=cart[i].item.price%> </span> </td> -->
                  <td>
                    &#8377;
                    <span id="price<%=cart[i].item._id%>" data-title="Price"
                      ><%=cart[i].item.price%></span
                    >
                  </td>

                  <td class="text-center" data-title="Stock">
                    <% if (cart[i].item.totalQty) { %>
                    <div class="detail-qty border radius m-auto">
                      <a
                        href="#"
                        class="qty-up"
                        onclick="changeQuantity('<%=cart[i].item._id%>','increase', 1, '<%=cart[i].item.totalQty%>')"
                        ><i class="fi-rs-angle-small-up"></i
                      ></a>
                      <span id="<%=cart[i].item._id%>"
                        ><%=cart[i].quantity%></span
                      >
                      <a
                        href="#"
                        class="qty-down"
                        onclick="changeQuantity('<%=cart[i].item._id%>','decrease',-1,'<%=cart[i].item.totalQty%>') "
                        ><i class="fi-rs-angle-small-down"></i
                      ></a>
                    </div>
                    <% if(cart[i].item.totalQty < 8 ) { %>
                    <span>Only <%=cart[i].item.totalQty%> left</span>
                    <% } %> <% }else { %>
                    <span id="outOfStock" class="text-danger"
                      >Out Of Stock</span
                    >
                    <% } %>
                  </td>

                  <td
                    class="text-right subtotal"
                    data-title="Subtotal"
                    id="subtotal<%= cart[i].item._id %>"
                  >
                    &#8377;
                    <span><%=cart[i].item.price * cart[i].quantity%> </span>
                  </td>
                  <td class="action" data-title="Remove">
                    <a
                      onclick="deleteItem('<%=cart[i].item._id%>')"
                      class="text-muted"
                      ><i class="fi-rs-trash"></i
                    ></a>
                  </td>
                </tr>

                <% } %>

                <!-- <tr>
                                    <td colspan="6" class="text-end">
                                        <a href="#" class="text-muted"> <i class="fi-rs-cross-small"></i> Clear Cart</a>
                                    </td>
                                </tr> -->
              </tbody>
            </table>
          </div>
          <div class="cart-action text-end">
            <!-- <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a> -->
            <a class="btn" href="/"
              ><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a
            >
          </div>
          <div class="divider center_icon mt-50 mb-50">
            <i class="fi-rs-fingerprint"></i>
          </div>
          <div class="row mb-50">
            <div class="col-lg-6 col-md-12">
              <div class="mb-30 mt-50">
                <div class="heading_s1 mb-3">
                  <h4>Apply Coupon</h4>
                </div>
                <div class="total-amount">
                  <div class="left">
                    <div class="coupon">
                      <form id="apply-coupon-form" action="#" target="_blank">
                        <div class="form-row row justify-content-center">
                          <div class="form-group col-lg-6">
                            <input
                              class="font-medium"
                              name="couponCode"
                              id="coupon-code-input"
                              placeholder="Enter Your Coupon"
                            />
                            <span
                              class="text-danger"
                              id="coupon-error-message"
                            ></span>
                            <span
                              class="text-success"
                              id="coupon-success-message"
                            ></span>
                          </div>
                          <div class="form-group col-lg-6">
                            <button class="btn btn-sm" id="apply-coupon-button">
                              <i class="fi-rs-label mr-10"></i>Apply
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="mb-30">
                  <div class="heading_s1 mb-3">
                    <h5>Applicable Coupons</h5>
                  </div>
                  <div>
                    <div class="card">
                      <div class="card-body">
                        <% coupons.forEach((coupon)=>{ %>
                        
                        <ul>
                          <li
                            class="list-group-item d-flex justify-content-between align-items-center"
                          >
                            <h4 class="mb-0">
                              <a href="#"><%= coupon.code %></a>
                            </h4>
                            <a
                              class="copy-code-btn"
                              data-clipboard-text="<%= coupon.code %>"
                            >
                              <i
                                class="fa-regular fa-copy"
                                style="color: #000000"
                              ></i>
                            </a>
                          </li>
                          <!-- <p><%=coupon.discountPercentage%>% discount</p> -->
                          <span><%=coupon.description%></span>
                          <p>Valid till: <%=coupon.expirationDate.toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric', weekday: 'long' })%></p>
                          <!-- <p>Valid till: {{formatDate endDate}}</p> -->

                          <hr />
                        </ul>
                        
                        <% }); %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-12">
              <div class="border p-md-4 p-30 border-radius cart-totals">
                <div class="heading_s1 mb-3">
                  <h4>Cart Totals</h4>
                </div>
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="cart_total_label">Cart Subtotal</td>
                        <td class="cart_total_amount">
                          <span
                            id="cartSubTotal"
                            class="font-lg fw-900 text-brand"
                          ></span>
                        </td>
                      </tr>
                      <tr>
                        <td class="cart_total_label">Shipping</td>
                        <td class="cart_shippinFee">
                          <i class="ti-gift mr-5"></i> Free Shipping
                        </td>
                      </tr>
                      <tr>
                        <td class="cart_total_label">Discount</td>
                        <td class="cart_discount">
                          <i class="ti-gift mr-5"></i
                          ><span id="offer-total">₹0.00</span>
                        </td>
                      </tr>
                      <tr class="coupon_discount d-none">
                        <td class="cart_total_label">Coupon savings</td>
                        <td class="cart_discount">
                          <i class="ti-gift mr-5"></i
                          ><span id="coupon-offer-total">₹0.00</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="cart_total_label">Total</td>
                        <td class="cart_total_amount">
                          <strong
                            ><span
                              id="cartTotal"
                              class="font-xl fw-900 text-brand"
                              >$240.00</span
                            ></strong
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <a href="/user-checkout" class="btn btn-proceed-to-checkout">
                  <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% } else{ %>

    <div class="text-center my-5">
      <div class="container-fluid mt-100">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body cart">
                <div class="col-sm-12 empty-cart-cls text-center">
                  <img
                    src="https://i.imgur.com/dCdflKN.png"
                    width="130"
                    height="130"
                    class="img-fluid mb-4 mr-3"
                  />
                  <h3><strong>Your Cart is Empty</strong></h3>
                  <h4>Add something to make me happy :)</h4>
                  <a
                    href="/"
                    class="btn btn-primary cart-btn-transform m-3"
                    data-abc="true"
                    >continue shopping</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% } %>
</main>

<!-- Add jQuery library to your HTML if not already added -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>

<script>
  function deleteItem(itemId) {
    // You can implement logic here to delete the item from the cart on the backend.
    // For this example, let's assume the item is deleted successfully.

    // Show the SweetAlert confirmation dialog
    Swal.fire({
      title: "Are you sure?",
      text: "You are about to remove this item from your cart.",
      icon: "warning",
      showCancelButton: true,
      confirmButtonText: "Yes, remove it!",
      cancelButtonText: "No, keep it",
    }).then((result) => {
      if (result.isConfirmed) {
        // Item deletion confirmed, you can handle the deletion here on the backend.
        // For this example, let's just remove the item from the cart on the frontend.
        window.location.href = `/delete-from-cart?id=${itemId}`; // Replace with your desired URL

        // Show a success message (optional)
        Swal.fire(
          "Removed!",
          "The item has been removed from your cart.",
          "success"
        );
      }
    });
  }
</script>

<!-- <script>
    function changeQuantity(itemId, action, count) {
        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                // Parse the response to get the new quantity
                const newQuantity = this.responseText;
                console.log("New Quantity:", newQuantity);

                // Update the displayed quantity for the item
                document.getElementById(itemId).textContent = newQuantity;

                // Calculate and update the new subtotal
                var itemPrice =document.getElementById("price"+itemId).textContent;
                console.log("Item Price:", itemPrice);

                if (!isNaN(itemPrice) && !isNaN(newQuantity)) {
                    var newSubtotal = itemPrice * newQuantity

                    // Update the displayed subtotal for the item
                    document.getElementById("subtotal"+itemId).innerHTML = "&#8377; <span>" + newSubtotal + "</span>";
                } else {
                    console.log("Invalid item price or new quantity.");
                }
            }
        };

        xhttp.open("GET", `/update-quantity?itemId=${itemId}&action=${action}&count=${count}`, true);
        xhttp.send();
    }
</script> -->

<!-- Copy-To-Clipboard -->
<script>
  var copyCodeBtns = document.querySelectorAll(".copy-code-btn");
  var clipboard = new ClipboardJS(copyCodeBtns);
  clipboard.on("success", function (e) {
    var originalText = e.trigger.innerHTML; // Save the original HTML content
    e.trigger.innerHTML = "Copied!";

    setTimeout(function () {
      e.trigger.innerHTML = originalText; // Restore the original HTML content
    }, 2000);
  });

  clipboard.on("error", function (e) {
    console.error("Error copying coupon code: ", e);
  });
</script>

<!-- Calculate_Total -->
<script>
  function calculateCartTotal() {
    // Get all the cart subtotal elements
    const subtotalElements = document.querySelectorAll(".subtotal span");

    let cartTotal = 0;
    // Loop through all the subtotals and calculate the total
    for (let i = 0; i < subtotalElements.length; i++) {
      const subtotal = parseFloat(subtotalElements[i].textContent);
      if (!isNaN(subtotal)) {
        cartTotal += subtotal;
      }
    }

    // Update the cart total on the page
    document.getElementById("cartSubTotal").innerHTML = "&#8377; " + cartTotal;
    document.getElementById("cartTotal").innerHTML = "&#8377; " + cartTotal;

   
  }

  //Change_Cart_Quantity
  function changeQuantity(itemId, action, count, quantity) {
    const currentValue = document.getElementById(itemId).textContent;
    if (currentValue === quantity && action === "increase") {
      Toastify({
        text: "Insufficient stock!",
        duration: 3000,
        backgroundColor: "#FF0000",
        gravity: "top", // Display the toast at the top of the screen
        position: "center", // Center the toast horizontally
        stopOnFocus: true,
      }).showToast();
    } else {
      if (currentValue >= 10 && action === "increase") {
        Toastify({
          text: `We're sorry! Only 10 unit(s) allowed in each order`,
          duration: 3000,
          backgroundColor: "#FF9999",
          gravity: "bottom", // Display the toast at the top of the screen
          position: "center", // Center the toast horizontally
          stopOnFocus: true,
        }).showToast();
      } else {
        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function () {
          if (this.readyState === 4 && this.status === 200) {
            // Parse the response to get the new quantity
            const newQuantity = parseInt(this.responseText);
            console.log("New Quantity:", newQuantity);

            // Update the displayed quantity for the item
            document.getElementById(itemId).textContent = newQuantity;

            // Calculate and update the new subtotal
            var itemPrice = parseFloat(
              document.getElementById("price" + itemId).textContent
            );
            console.log("Item Price:", itemPrice);

            if (!isNaN(itemPrice) && !isNaN(newQuantity)) {
              var newSubtotal = itemPrice * newQuantity;

              // Update the displayed subtotal for the item
              document.getElementById("subtotal" + itemId).innerHTML =
                "&#8377; <span>" + newSubtotal + "</span";

              // Recalculate and update the cart total whenever the quantity changes
              calculateCartTotal();
            } else {
              console.log("Invalid item price or new quantity.");
            }
          }
        };

        xhttp.open(
          "GET",
          `/update-quantity?itemId=${itemId}&action=${action}&count=${count}`,
          true
        );
        xhttp.send();
      }
    }
  }

  // Initialize the cart total when the page loads
  document.addEventListener("DOMContentLoaded", function () {
    calculateCartTotal();
  });
</script>

<script>
  const outOfStockSpan = document.getElementById("outOfStock");
  const checkoutButton = document.querySelector(".btn-proceed-to-checkout");

  if (outOfStockSpan) {
    checkoutButton.removeAttribute("href");
    checkoutButton.style.opacity = "0.5";
  }

  checkoutButton.addEventListener("click", function () {
    if (outOfStockSpan) {
      Toastify({
        text: "Remove unavailable items !",
        duration: 3000,
        backgroundColor: "#ff0000",
        gravity: "center", // Display the toast at the top of the screen
        position: "right", // Center the toast horizontally
        stopOnFocus: true,
      }).showToast();
    }
  });
</script>

<!-- Apply_Coupon -->
<script>
    $(document).ready(function () {
        $("#apply-coupon-form").submit(function (event) {
            console.log('apply-coupon')
            event.preventDefault();
            var couponCode = $("#coupon-code-input").val();

            const subtotalElements = document.querySelectorAll(".subtotal span");
            let cartTotal = 0;
            // Loop through all the subtotals and calculate the total
            for (let i = 0; i < subtotalElements.length; i++) {
              const subtotal = parseFloat(subtotalElements[i].textContent);
              if (!isNaN(subtotal)) {
                cartTotal += subtotal;
              }
            }
            var cartDiscountRow = document.querySelector('.coupon_discount');

            $.ajax({
                type: "POST",
                url: "/apply-coupon",
                data: {
                    couponCode: couponCode,
                    cartTotal:cartTotal
                },
                success: function (response) {
                    if (response.error) {
                        $("#coupon-error-message").text(response.error);
                        $("#coupon-success-message").text("");
                        // $("#amount-to-pay").text(response.total);
                    } else if (response.success) {
                        $("#coupon-success-message").text(response.success);
                        $("#coupon-error-message").text("");
                        // $("#amount-to-pay").text(response.total);
                        $("#cartTotal").text("₹"+response.total);
                        cartDiscountRow.classList.remove('d-none');
                        $("#coupon-offer-total").text(response.offer);
                        $("#apply-coupon-button").prop("disabled", true).text("Applied");
                        // add remove button
                        const removeButton = $('<button>', {
                            text: 'Remove coupon',
                            click: function () {
                                location.reload();
                            }
                        });
                        removeButton.css({
                            'background-color': '#F44336',
                            'border': 'none',
                            'color': 'white',
                            'padding': '10px',
                            'text-align': 'center',
                            'text-decoration': 'none',
                            'display': 'inline-block',
                            'font-size': '16px',
                            'margin-top': '10px',
                            'cursor': 'pointer',
                            'border-radius': '5px'
                        });
                        $("#apply-coupon-form").append(removeButton);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>
